.plan {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 30px;
}

.plan__button > button {
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 5%;
  width: 100%;
  color: #fff;
  background-color: #e50914;
  border: none;
  cursor: pointer;
}

h3 {
  font-weight: 400;
  margin-bottom: 10px;
}
h4 {
  font-weight: 200;
  font-size: 0.8rem;
}
